@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.teams__wrapper{
    background: #121212;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teams__container{
    width: 1180px;
    max-width: 90%;
    margin: 0 auto;
}
.teams__container h3{
    text-align: center;
    color: #667285;
    font-size: 32px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
}
.cards .card .image{
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.card{
    width: 360px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
    margin-bottom: 20px;
}
.card:hover{
    transform: translateY(-30px);
    opacity: 1;
}
.cards .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card h5{
    font-size: 24px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 15px;
}
.card p{
    color: #b1c8ee;
    font-size: 20px;
    margin: 5px 0;
}
.socials__icons .social{
    display: flex;
    gap: 15px;
}
.socials__icons .social a{
    height: 45px;
    width: 45px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    opacity: 0;
    transform: translateY(40px);
}
.card:hover .socials__icons .social a{
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width:1180px) {
    .card:hover{
        transform: translateY(-10px);
        opacity: 1;
    }
}